* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

body, html {
  height: 100%;
  display: grid;
  margin: 0;
}

header {
  text-align: center;
  background-color: #d5d5d5cd;
  padding: 40px 0;
  font-family: Helvetica;
}

footer {
  text-align: center;
  background-color: #d5d5d5cd;
  color: rgb(0, 0, 0);
  padding: 20px 0;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(245, 245, 220, 0.5), rgba(245, 245, 220, 0.5)), url('fotos/restaurante.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  justify-content: center;
  align-items: center;
}

@media (max-width: 850px) {
  form {
    width: 80%;
    left: 10%;
    transform: translate(0, -50%);
  }
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  background-color: #d5d5d5cd;
  padding: 0;
}

.menu li {
  flex: 5 1 0;
}

.menu a {
  font: 30px;
  font-family: Helvetica;
  text-align: center;
  text-decoration:none;
  display: block;
  padding: 10px;
  color: black;
  user-select: none;
}

.menu li:hover {
  background-color: #d5d5d5cd;
}

.info {
    text-align: center;
    width: 50%;
    height: 25%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.info h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 15px 0;
}

.info p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.info2 {
    text-align: center;
    width: 70%;
    height: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}